@page "/role"
@attribute [Authorize]

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject RoleService RoleService
@using Newtonsoft.Json;

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore


<h3>All Roles</h3>

@if (_isLoading)
{
    <div>loading....</div>
}
else if (_isError)
{
    <div>@message</div>
}        
else
{
    <table class="table">
        <thead>
            <tr>
                <th>RoleId</th>
                <th>Role</th>
                <th>OrgId</th>
                <th>Role Description</th>
                <th>Updated</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rec in roles)
            {
                <tr>
                    <td>@rec.RoleId</td>
                    <td>@rec.Code</td>
                    <td>@rec.OrgId</td>
                    <td>@rec.Description</td>
                    <td>@rec.Updated</td>
                    <td>@rec.IsActive</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<UserRoleDto>? roles;
    private bool _isLoading = true;
    private bool _isError = false;
    private string message;
    private string token;

    private void ThrowException()
    {
        throw new InvalidOperationException("This is a test exception.");
    }

    private void Recover()
    {
        //        errorBoundary.Recover();
    }

    protected override async Task OnInitializedAsync()
    {
        /*
        string token = null;
        var result = await ProtectedSessionStore.GetAsync<string>("token");
        if (result.Success)
        token = result.Value;
        */
        // Func<Task> lambda = async () => machines = await MachineService.MachinesAsync(token);
        // await Run(lambda);
        // machines = await MachineService.MachinesAsync(token);
        // _isLoading = false;

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var store = await ProtectedSessionStore.GetAsync<string>("tokenX");
            if (store.Success)
                token = store.Value;
            else
                NavigationManager.NavigateTo("https://localhost:7289", true);

            var result = await RoleService.RolesAsync(token);
            roles = result.roles;
            message = result.message;

            _isError = !string.IsNullOrEmpty(message);
            _isLoading = false;
            StateHasChanged();
        }
    }

    public async Task Run(Func<Task> action)
    {
        try
        {
            await action();
        }
        catch (Exception x)
        {
            //exception = x;
            //_isError = true;
        }
        finally
        {
            _isLoading = false;
        }
    }
}