@page "/permission"
@attribute [Authorize]

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject PermissionService PermissionService
@using Newtonsoft.Json;

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore


<h3>All Permissions</h3>

@if (_isLoading)
{
    <div>loading....</div>
}
else if (_isError)
{
    <div>@message</div>
}        
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Role</th>
                <th>OrgId</th>
                <th>PermissionCode</th>
                <th>PermissionDescr</th>
                <th>CRUD</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var perms in permissions)
            {
                <tr>
                    <td>@perms.Role</td>
                    <td>@perms.OrgId</td>
                    <td>@perms.PermissionCode</td>
                    <td>@perms.PermissionDescr</td>
                    <td>@perms.Crud</td>
                </tr>
            }
        </tbody>
    </table>
}


<h3>Effective Permissions</h3>

@if (_isLoading)
{
    <div>loading....</div>
}
else if (_isError)
{
    <div>@message</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Permission</th>
                <th>CRUD</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var perms in effective)
            {
                <tr>
                    <td>@perms.Permission</td>
                    <td>@perms.Crud</td>
                </tr>
            }
        </tbody>
    </table>
}




@code {
    private List<RolePermissionDto>? permissions;
    private List<PermissionDto>? effective;
    private bool _isLoading = true;
    private bool _isError = false;
    private string message;
    private string token;

    private void ThrowException()
    {
        throw new InvalidOperationException("This is a test exception.");
    }

    private void Recover()
    {
        //        errorBoundary.Recover();
    }

    protected override async Task OnInitializedAsync()
    {
        /*
        string token = null;
        var result = await ProtectedSessionStore.GetAsync<string>("token");
        if (result.Success)
        token = result.Value;
        */
        // Func<Task> lambda = async () => machines = await MachineService.MachinesAsync(token);
        // await Run(lambda);
        // machines = await MachineService.MachinesAsync(token);
        // _isLoading = false;

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var store = await ProtectedSessionStore.GetAsync<string>("tokenX");
            if (store.Success)
                token = store.Value;
            else
                NavigationManager.NavigateTo("https://localhost:7289", true);

            var result = await PermissionService.PermissionsAsync(token);
            permissions = result.permissions;
            message = result.message;

            var result2 = await PermissionService.PermissionEffectiveAsync(token);
            effective = result2.permissions;

            _isError = !string.IsNullOrEmpty(message);
            _isLoading = false;
            StateHasChanged();
        }
    }

    public async Task Run(Func<Task> action)
    {
        try
        {
            await action();
        }
        catch (Exception x)
        {
            //exception = x;
            //_isError = true;
        }
        finally
        {
            _isLoading = false;
        }
    }
}