@attribute [Route(BasePageRoutes.PermRoute)]
@inherits BasePage
@attribute [Authorize]

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory


@using GC = FrontendServer.GlobalConstants;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore


<Header @key="_pageCode"
        TitleKey="UserPerm"
        SubTitleKey="UserPermSub"
        PageCode=@_pageCode
        />

@if (_isLoading || _isError || _isSaving)
{
    <LoadingWithError IsLoading=@_isLoading
                      IsSaving=@_isSaving
                      IsError=@_isError
                      Message=@_errorMessage>
        @exception
    </LoadingWithError>
}
else
{
    <MudGrid>

        <MudItem xs="8">
            <MudPaper Elevation="0" Outlined="@_debugOutlined">
                <MudExpansionPanels MultiExpansion="true">
                    <MudExpansionPanel Expanded="@_expandFirstPanel">
                        <TitleContent>
                            <Label Size="GC.TextSize.Large" Key="PermEff"></Label>
                            <div class="d-flex">
                            </div>
                        </TitleContent>
                        <ChildContent>
                            <div style="table-layout: fixed; width: 400px;">
                                <MudTable Items="@effective">
                                    <HeaderContent>
                                        <MudTh><Label Key="Perm" /></MudTh>
                                        <MudTh><Label Key="Crud" /></MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Column 1">@context.Permission</MudTd>
                                        <MudTd DataLabel="Column 2">@context.Crud</MudTd>
                                    </RowTemplate>
                                </MudTable>
                            </div>
                        </ChildContent>
                    </MudExpansionPanel>

                    <MudExpansionPanel>
                        <TitleContent>
                            <Label Size="GC.TextSize.Large" Key="PermAll"></Label>
                        </TitleContent>
                        <ChildContent>
                            <div style="table-layout: fixed; width: 400px;">
                                <MudTable Items="@permissions">
                                    <HeaderContent>
                                        <MudTh><Label Key="Role" /></MudTh>
                                        <MudTh><Label Key="OrgNr" /></MudTh>
                                        <MudTh><Label Key="Perm" /></MudTh>
                                        <MudTh><Label Key="Crud" /></MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="Column 1">@context.Role</MudTd>
                                        <MudTd DataLabel="Column 2">@context.OrgId</MudTd>
                                        <MudTd DataLabel="Column 3">@context.Permission</MudTd>
                                        <MudTd DataLabel="Column 4">@context.Crud</MudTd>
                                    </RowTemplate>
                                </MudTable>
                            </div>
                        </ChildContent>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudPaper>
        </MudItem>
    </MudGrid>
}

@inject PermissionService PS
@code {
    private bool _expandFirstPanel = true;
    private List<PermissionDto>? effective;
    private List<RolePermissionDto>? permissions;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitialiseBasePage();
            _pageCode = BasePageRoutes.PermPageCode;

            permissions = PS.AllPermissions;
            effective = PS.Permissions;

            _isError = effective == null;
            _isLoading = false;
            StateHasChanged();
        }
    }
   
}