@inherits BasePage
@inject IDialogService DialogService

<div>
    @if (@IsShowToolTip())
    {
        <div data-tooltip="@ShowToolTip()">
            <button class="@GetClass()" @onclick="OpenDialog">@ShowLabel()</button>
        </div>
    }
    else 
    {
        <button class="@GetClass()" @onclick="OpenDialog">@ShowLabel()</button>
    }

    @if (_showDialog)
    {
        <LabelDialog 
            LangKey="@Key"
            OnParameterChanged="HandleShowChanged" 
            />
    }

</div>


@code {
    private AppConfigDto? appConfig;

    [Parameter]
    public string Key { get; set; }

    private bool _showNoKey = false;
    private bool _showTooltip = false;
    private bool _showLink = false;
    private bool _showDialog = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitialiseBasePage();
            appConfig = await GetConfig();
            _showNoKey = appConfig?.Label.ShowNoKey ?? false;
            _showTooltip = appConfig?.Label.ShowTooltip ?? false;
            _showLink = appConfig?.Label.ShowLink ?? false;
            
            StateHasChanged();
        }
    }

    private string ShowLabel()
    {
        if (IsLabel(Key)) return GetLabel(Key);
        return
            (_showNoKey ? "[" : "")
            + Key
            + (_showNoKey ? "]" : "")
            ;
    }

    private bool IsShowToolTip()
    {
        return IsTooltip(Key);
    }

    private string? ShowToolTip()
    {
        return GetTooltip(Key);
    }

    private bool IsShowDialogLink()
    {
        return _showLink && IsLabel(Key);
    }

    private string GetClass()
    {
        var l = IsLabel(Key);
        if (!l && _showNoKey) return "label-nokey";
        if (!l && _showLink) return "label-link";
        return "label";
    }

    private void OpenDialog()
    {
        if (_showDialog) _showDialog = false;
        else _showDialog = _showLink;
        // var options = new DialogOptions { CloseOnEscapeKey = true };

        // DialogService.ShowAsync<LabelDialog>("Simple Dialog", options);

    }

    private void HandleShowChanged(string newValue)
    {
        _showDialog = false;
    }
}
