@inherits BasePage

@InitialiseLabel()

<div>
    @if (_showTooltip)
    {
        <div data-tooltip="@ShowToolTip()">
            <button class="@GetClass()" @onclick="OpenDialog">@ShowLabel()</button>
        </div>
    }
    else 
    {
        <button class="@GetClass()" @onclick="OpenDialog">@ShowLabel()</button>
    }

    @if (_showModal)
    {
        <LabelDialog 
            LangKey="@Key"
            OnParameterChanged="HandleShowChanged" />
    }

</div>


@code {
    private AppConfigDto? appConfig;

    [Parameter]
    public string Key { get; set; }

    private bool _showLink = false;
    private bool _showNoKey = false;
    private bool _showModal = false;
    private bool _showTooltip = false;

    protected override async Task OnInitializedAsync()
    {
        appConfig = await GetConfig();
    }

    private string InitialiseLabel()
    {
        _showLink = appConfig?.Label.ShowLink ?? false;
        _showNoKey = appConfig?.Label.ShowNoKey ?? false;
        _showTooltip = appConfig?.Label.ShowTooltip ?? false;
        _showModal = appConfig?.Label.ShowModal ?? false;
        return "";
    }

    private string ShowLabel()
    {
        return
            (_showNoKey ? "[" : "")
            + GetLabel(Key)
            + (_showNoKey ? "]" : "")
            ;
    }

    private string ShowLabelText()
    {
        return GetLabel(Key);
    }

    private string? ShowToolTip()
    {
        return GetTooltip(Key);
    }

    private string GetClass()
    {
        if (_showNoKey) return "label-nokey";
        if (_showLink) return "label-link";
        return "label";
    }

    private void OpenDialog()
    {
        if (_showModal) _showModal = false;
        else _showModal = _showLink;
    }

    private void HandleShowChanged(string newValue)
    {
        _showModal = false;
    }
}
