@inherits BasePage


@InitialiseLabel()

<div>
    @if (_showTooltip)
    {
        <div data-tooltip="@ShowToolTip()">
            <button class="@GetClass()" @onclick="OpenDialog">@ShowLabel()</button>
        </div>
    }
    else 
    {
        <button class="@GetClass()" @onclick="OpenDialog">@ShowLabel()</button>
    }

    @if (_showModal)
    {
        <LabelDialog 
            LangKey="@Key"
            OnParameterChanged="HandleShowChanged" />
    }

</div>


@code {
    //private AppConfig? appConfig;

    [Parameter]
    public string Key { get; set; }

    private bool _showLink = false;
    private bool _showNoKey = false;
    private bool _showModal = false;
    private bool _showTooltip = false;

    protected override async Task OnInitializedAsync()
    {
        //appConfig = clientState.appConfig;
    }

    private string InitialiseLabel()
    {
        // _showLink = appConfig?.IsLabelLink ?? false;
        // _showNoKey = _showLink && (!labelMgr?.IsLabel(Key) ?? false);
        // _showTooltip = labelMgr?.IsTooltip(Key) ?? false;
        return "";
    }

    private string ShowLabel()
    {
        return
            (_showNoKey ? "[" : "")
            // + labelMgr?.GetLabel(Key)
            + (_showNoKey ? "]" : "")
            ;
    }

    private string ShowLabelText()
    {
        // if (labelMgr == null) return "No labelMgr";
        // if (!labelMgr.IsLabel(Key)) return "No Key";
        // return labelMgr.GetLabel(Key);
        return "?";
    }

    private string? ShowToolTip()
    {
        //return labelMgr?.GetTooltip(Key);
        return "tt";
    }

    private string GetClass()
    {
        if (_showNoKey) return "label-nokey";
        if (_showLink) return "label-link";
        return "label";
    }

    private void OpenDialog()
    {
        if (_showModal) _showModal = false;
        else _showModal = _showLink;
    }

    private void HandleShowChanged(string newValue)
    {
        _showModal = false;
    }
}
