@inherits BasePage
@inject IDialogService DialogService

<div>
    @if (!isAdminLanguage)
    {
        @if (@IsShowToolTip())
        {
            <div data-tooltip="@ShowToolTip()">
                <div class="@GetClass()">@ShowLabel()</div>
            </div>
        }
        else
        {
            <div class="@GetClass()">@ShowLabel()</div>
        }
    }
    else 
    {
        @if (@IsShowToolTip())
        {
            <div data-tooltip="@ShowToolTip()">
                <button class="@GetClass()" @onclick="OpenDialog">@ShowLabel()</button>
            </div>
        }
        else
        {
            <button class="@GetClass()" @onclick="OpenDialog">@ShowLabel()</button>
        }
    }
</div>


@code {

    [Parameter] public string Key { get; set; }

    private bool showTooltip = false;
    private bool highlightNoKey = false;
    private bool isAdminLanguage = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitialiseBasePage();
            var appConfig = await GetConfig();
            showTooltip = appConfig?.Label.ShowTooltip ?? false;
            highlightNoKey = !IsLabel(Key) && (appConfig?.Label.HighlightNoKey ?? false);
            isAdminLanguage = appConfig?.Label.IsAdminLanguage ?? false;

            StateHasChanged();
        }
    }

    private string ShowLabel()
    {
        if (highlightNoKey) return GetLabelHighlightNoKey(Key);
        return GetLabel(Key);
    }

    private bool IsShowToolTip() => IsTooltip(Key);
    private string? ShowToolTip() => showTooltip? GetTooltip(Key) : null;

    private string GetClass()
    {
        string css = isAdminLanguage ? "label-link" : "label-no-link";
        if (highlightNoKey) css += " label-no-key";
        else css += " label";
        return css;
    }

    private Task OpenDialog()
    {
        if (!isAdminLanguage) return Task.CompletedTask;

        var options = new DialogOptions 
            { 
                CloseOnEscapeKey = true,
                Position = DialogPosition.TopCenter,
                MaxWidth = MaxWidth.Medium
            };
        var parameters = new DialogParameters
            {
                { "LangKey", Key }
            };

        var title = GetLabel("LabelEdit");
        return DialogService.ShowAsync<LabelDialog>(title, parameters, options);
    }
}
